//style chung
.btn-st-silver{
	text-transform: uppercase;
	border:0;
    font-family: roboto;
    color:#444444;
    background-color: #E6ECF1;
    display: inline-block;
    padding: 12px 37px;;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover,&:focus,&:active{
        color:#444444;text-decoration: none;
        box-shadow: 0px 2px 3px #888888;
    }
}
//
.top-option{
	margin-top: 42px;
	margin-bottom: 25px;
}
.product{
	margin: 0 auto;
	border:1px solid #eee;
	margin-bottom: 10px;
}
#load-more {
    margin-top: 75px;
    margin-bottom: 150px;
}
#check-option{
	margin-left: 5px;
}
.items-tag{
	display: inline-block;
    margin: 0 5px;
	span{
		font-family: roboto;
	    font-size: 13px;
	    color: #FFFFFF;
	    padding: 7px 0px 7px 12px;
	    background: #85A2BB;
	    
	}
}
input[type=radio]{
	margin-right: 5px;
}