* {
	margin: 0;
	padding: 0;
}
.product_item, .product_item *{
	margin: 0;
	padding: 0;
}
.product_item {
    font-family: roboto;
    font-size: 13px;
    margin:0 auto;
    position: relative;
    width: 300px;
    text-align: center;
    .uc_contact{
        .uc_avatar{
            display: block;
        }
        .uc_link{
            height: 42px;
            span:hover {
                margin-top: 2px;
                cursor: pointer;
            }
            .uc_icon {
                text-decoration: none;
                display: block;
                float: left;
                margin-right: 1px;
                width: 36px;
                height: 36px;
                line-height: 36px;
                background: #86a2ba;
                color: #fffefb;                            
            }
            .buy_product {
                text-decoration: none;
                display: block;
                float: left;
                margin: 0;
                p {
                    margin: 0px;
                    font-size: 15px;
                    vertical-align: top;
                    background: #2f5c8c;
                    line-height: 34px;
                    padding: 1px 80px 1px 80px;
                    color: white;
                }
            }
            // span {
            //     font-size: 15px;
            //     vertical-align: top;
            //     background: #2f5c8c;
            //     line-height: 34px;
            //     padding: 9px 80px 10px 80px;
            //     color: white;
            // }
            .active {
                background: #ff3d00;
            }
        }
    }
    .share_product {
        display: none;
        position: absolute;
        top: 0;
        width: 300px;
        height: 430px;
        background: #547ca0;
        opacity: 0.9;
        i.fa-times {
            display: block;
            width: 16px;
            margin-left: 265px;
            margin-top: 15px;
            color: #d1dbe4;
            cursor: pointer;
            text-align: left;
        }
        h2 {
            font-size: 25px;
            padding-top: 20px;
            padding-bottom: 30px;
            color: #e1e6ea;
            font-weight: normal;
        }
        .share_page{
            a{
                i {
                    display: block;
                    float: left;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    background: #b6c8d6;
                    margin-left: 24px;
                    margin-bottom: 1px;
                    color: #5c85a5;
                }
                span {
                    display: block;
                    float: left;
                    line-height: 60px;
                    width: 192px;
                    background: #95abc0;
                    color: #c0cddd;
                    text-align: left;
                    padding-left: 30px;
                    font-size: 25px;
                }
            }
            
        }        
    }
    .clear_float {
        clear: both;
    }
    .uc_info {
        p.uc_job {
            color: #33648D;
            padding: 20px 0px 10px 0px;
            font-weight: bold;
            span {
                text-decoration: line-through;
                color: #ADC1D1;
            }
        }
        p {
            color: #444444;
            font-size: 12.86px;
        }
    }
}