* {
	margin: 0;
	padding: 0;
}
.product_item, .product_item *{
	margin: 0;
	padding: 0;
}
.product_item {
    font-family: roboto;
    font-size: 13px;
    margin:0 auto;
    position: relative;
    text-align: center;
    div {
        max-width: 100%;
    }
    img {
        max-width: 100% !important;
    }
    .uc_contact{
        .uc_avatar{
            display: block;
        }
        .uc_link{
            padding-bottom: 17%;
            span:hover {
                margin-top: 2px;
                cursor: pointer;
            }
            .uc_icon {
                padding-top: 3%;
                padding-bottom: 3%; 
                text-decoration: none;
                display: block;
                float: left;
                margin-right: 1px;
                width: 12%;                
                background: #86a2ba;
                color: #fffefb;                            
            }
            .buy_product { 
                padding-bottom: 2%;               
                margin: 0;
                width: 62%;
                font-size: 15px;
                background: #2f5c8c;                               
            }
            .active {
                background: #ff3d00;
            }
        }
    }
    .share_product {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        padding-bottom: 8%;
        background: #547ca0;
        opacity: 0.9;
        i.fa-times {
            display: block;
            padding-left: 90%;
            padding-top: 6%;
            color: #d1dbe4;
            cursor: pointer;
            text-align: left;
        }
        h2 {
            font-size: 25px;
            padding-top: 6%;
            padding-bottom: 12%;
            color: #e1e6ea;
            font-weight: normal;
        }
        .share_page{
            a{
                i {
                    display: block;
                    float: left;
                    width: 20%;
                    margin-left: 10%;
                    padding-top: 5%;
                    padding-bottom: 5%;
                    background: #b6c8d6;
                    margin-bottom: 2px;
                    color: #5c85a5;
                }
                span {
                    display: block;
                    float: left;
                    width: 60%;
                    padding: 4% 0% 3% 10%;
                    background: #95abc0;
                    color: #c0cddd;
                    text-align: left;
                    font-size: 25px;
                }
            }
            
        }        
    }
    .clear_float {
        clear: both;
    }
    .uc_info {
        p.uc_job {
            color: #33648D;
            padding: 15px 0px 5px 0px;
            font-weight: bold;
            span {
                text-decoration: line-through;
                color: #ADC1D1;
            }
        }
        p {
            color: #444444;
            font-size: 12.86px;
        }
    }
}
@media (min-width: 1280px) {
    .product_item {
        .uc_contact {
            .uc_link {
                .uc_icon {
                    padding: 3% 11% 1% 4%;
                }
                .buy_product {
                    padding: 1.5% 11% 1% 11%;
                    width: 53.3%;
                }
            }
        }
        .share_product {
            .share_page {
                a {
                    i {
                        padding: 2% 1% 1% 1%;
                    }
                    span {
                        padding: 1.5% 1% 2% 5%;
                        font-size: 1.4em;
                    }
                }
            }
        }
    }    
}
@media (min-width: 1366px) {
    .product_item {
        .uc_contact {
            .uc_link {                
                .buy_product {                    
                    padding-bottom: 0.95%;                    
                }
            }
        }
        .share_product {
            h2 {
                padding-top: 9%;
                padding-bottom: 15%;
            }
        }
    }    
}
@media (min-width: 1600px) {
    .product_item {
        .uc_contact {
            .uc_link {    
                .uc_icon {
                    padding: 3% 10% 2% 4%;
                }          
                .buy_product {                    
                    padding-bottom: 1%;
                    padding-left: 10%;
                    width: 56.6%;                   
                }
            }
        }
        .share_product {
            .share_page {
                a {
                    i {
                        padding: 4% 1% 2.2% 1%;
                    }
                    span {
                        padding: 2% 1% 2.1% 5%;
                        font-size: 1.7em;
                    }
                }
            }
        }
    }    
}
@media (min-width: 1920px) {
    .product_item {
        .uc_contact {
            .uc_link {    
                .uc_icon {
                    padding: 3% 7% 2% 4%;
                }          
                .buy_product {                    
                    padding: 2% 7% 1.95% 7%;
                    width: 62.9%;                  
                }
            }
        }
        .share_product {
            .share_page {
                a {
                    i {
                        padding: 4.5% 1% 4% 1%;
                    }
                    span {
                        padding: 2% 1% 2.7% 5%;
                        font-size: 2em;
                    }
                }
            }
        }   
    }    
}