* {
	margin: 0;
	padding: 0;
}
#body-main-sideright {
    margin-top: 15px;
}
.product_item, .product_item *{
	margin: 0;
	padding: 0;
}
.product_item {
    max-width: 345px !important; 
    font-family: roboto;
    font-size: 13px;
    margin:0 auto;
    position: relative;
    text-align: center;
    .uc_contact{
        margin: auto;
        .uc_avatar{
        }
        .uc_link{
            // padding-bottom: 14%;
            span:hover {
                box-shadow: 0px 2px 3px #7D9CB6;
                cursor: pointer;
            }
            .uc_icon { 
                i.fa {
                    font-size: 15px;
                    vertical-align: middle;
                }
                line-height: 190%;
                float: left;
                margin-right: 1px;
                width: 12%;                
                background: #85A2BB;
                color: #fffefb;                            
            }
            .buy_product { 
                line-height: 164.7%;              
                margin: 0;
                width: 62%;
                font-size: 15px;
                background: #2f5c8c;                               
            }
            .active {
                background: #ff3d00;
            }
        }
    }
    .share_product {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        padding-bottom: 11%;
        background: #547ca0;
        opacity: 0.9;
        i.fa-times {
            display: block;
            margin-left: 90%;
            margin-top: 6%;
            color: #d1dbe4;
            cursor: pointer;
            text-align: left;
        }
        h2 {
            font-size: 25px;
            padding-top: 3%;
            padding-bottom: 9%;
            color: #e1e6ea;
            font-weight: normal;
        }
        .share_page{
            a{
                i {
                    display: block;
                    float: left;
                    width: 20%;
                    margin-left: 10%;
                    padding-top: 1%;
                    line-height: 150%;
                    background: #b6c8d6;
                    margin-bottom: 2px;
                    color: #5c85a5;

                }
                .fa-2x {
                        font-size: 22px;
                    }
                span {
                    line-height: 150%;
                    display: block;
                    float: left;
                    width: 60%;
                    padding-top: 1%;
                    padding-left: 5%;
                    background: #95abc0;
                    color: #c0cddd;
                    text-align: left;
                    font-size: 22px;
                }
            }
            
        }        
    }
    .clear_float {
        clear: both;
    }
    .uc_info {
        p.uc_job {
            color: #33648D;
            padding: 15px 0px 5px 0px;
            font-weight: bold;
            span {
                text-decoration: line-through;
                color: #ADC1D1;
            }
        }
        p {
            color: #444444;
            font-size: 12.86px;
            padding-bottom: 12%;
        }
    }
}
@media (min-width: 380px)and(max-width: 479px) {
    .product_item {
        .uc_contact {
            .uc_link {    
                .uc_icon {                    
                    line-height: 250%;
                }          
                .buy_product {                        
                    line-height: 216.7%;                  
                }
            }
        }
        .share_product {           
            i.fa-times {
                font-size: 25px;
                margin-top: 4%;
            }            
            .share_page {
                a {
                    i {
                        // padding: 4.5% 1% 5% 1%;
                        // margin-left: 9%;
                        // font-size: 25px;                       
                    }
                    .fa-2x {
                        font-size: 25px;
                        line-height: 240%;
                    }
                    span {
                        // width: 62%;
                        // padding: 3% 1% 2.65% 5%;
                        // font-size: 2em;
                        font-size: 25px;
                        line-height: 240%;
                    }
                }
            }
        }   
    }    
}
@media (min-width: 480px)and(max-width: 767px) {
    .product_item {
        .uc_contact {
            .uc_link {    
                .uc_icon {                    
                    line-height: 250%;
                }          
                .buy_product {                        
                    line-height: 216.7%;                  
                }
            }
        }
        .share_product {
            padding-bottom: 10%;           
            i.fa-times {
                font-size: 25px;
                margin-top: 4%;
            }            
            .share_page {
                a {
                    i {
                        // padding: 4.5% 1% 5% 1%;
                        // margin-left: 9%;
                        // font-size: 25px;                       
                    }
                    .fa-2x {
                        font-size: 25px;
                        line-height: 252%;
                    }
                    span {
                        // width: 62%;
                        // padding: 3% 1% 2.65% 5%;
                        // font-size: 2em;
                        font-size: 25px;
                        line-height: 252%;
                    }
                }
            }
        }   
    }    
}
@media (min-width: 768px)and(max-width: 991px) {
    .product_item {
        .uc_contact {
            .uc_link {    
                .uc_icon {
                    // padding: 3% 7% 2% 4%;
                    // line-height: 250%;
                    // margin-right: 1px;
                }          
                .buy_product {                    
                    // padding: 2% 7% 2.012% 7%;
                    // width: 62.9%; 
                    // line-height: 216.7%;                  
                }
            }
        }
        .share_product {
            padding-bottom: 10%;
            h2 {
                font-size: 20px;
            }
            .share_page {
                a {
                    i {
                        // padding: 4.5% 1% 5% 1%;
                        // margin-left: 9%;
                    }
                    .fa-2x {
                        font-size: 18px;
                    }
                    span {
                        // width: 62%;
                        // padding: 3% 1% 2.65% 5%;
                        // font-size: 2em;
                        font-size: 18px;
                    }
                }
            }
        }   
    }    
}
@media (min-width: 992px)and(max-width: 1199px) {
    .product_item {
        .uc_contact {
            .uc_link {    
                .uc_icon {
                    // padding: 3% 7% 2% 4%;
                    // line-height: 250%;
                    // margin-right: 1px;
                }          
                .buy_product {                    
                    // padding: 2% 7% 2.012% 7%;
                    // width: 62.9%; 
                    // line-height: 216.7%;                  
                }
            }
        }
        .share_product {
            padding-bottom: 12%;
            .share_page {
                a {
                    i {
                        // padding: 4.5% 1% 5% 1%;
                        // margin-left: 9%;
                    }
                    .fa-2x {
                        font-size: 24px;
                    }
                    span {
                        // width: 62%;
                        // padding: 3% 1% 2.65% 5%;
                        // font-size: 2em;
                        font-size: 24px;
                    }
                }
            }
        }   
    }    
}
@media (min-width: 1200px)and(max-width: 1365px) {
    .product_item {
        .uc_contact {
            .uc_link {    
                .uc_icon {
                    // padding: 3% 7% 2% 4%;
                    // line-height: 250%;
                    // margin-right: 1px;
                }          
                .buy_product {                    
                    // padding: 2% 7% 2.012% 7%;
                    // width: 62.9%; 
                    // line-height: 216.7%;                  
                }
            }
        }
        .share_product {
            padding-bottom: 9%;
            .share_page {
                a {
                    i {
                        // padding: 4.5% 1% 5% 1%;
                        // margin-left: 9%;
                    }
                    .fa-2x {
                        font-size: 19px;
                    }
                    span {
                        // width: 62%;
                        // padding: 3% 1% 2.65% 5%;
                        // font-size: 2em;
                        font-size: 19px;
                    }
                }
            }
        }   
    }    
}
@media (min-width: 1920px) {
    .product_item {
        .uc_contact {
            .uc_link {    
                .uc_icon {
                    // padding: 3% 7% 2% 4%;
                    line-height: 250%;
                }          
                .buy_product {                    
                    // padding: 2% 7% 2.012% 7%;
                    // width: 62.9%;          
                    line-height: 216.7%;        
                }
            }
        }
        .share_product {
            // padding-bottom: 9%;
            .share_page {
                a {
                    i {
                        // padding: 4.5% 1% 5% 1%;
                        // margin-left: 9%;
                    }
                    span {
                        // width: 62%;
                        // padding: 3% 1% 2.65% 5%;
                        // font-size: 2em;
                    }
                }
            }
        }   
    }    
}