
@height: 50px;
@height-copy-right: 50px;

footer{
	font-size:8px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-transform: uppercase;

	.line-footer{
		height:11px;
		background: #F0F1F2;
	    background: -webkit-linear-gradient(#F0F1F2, #fff); 
	    background: -o-linear-gradient(#F0F1F2, #fff);
	    background: -moz-linear-gradient(#F0F1F2, #fff); 
	    background: linear-gradient(#F0F1F2, #fff);
	}


	.footer-above{
		height: @height;
		background:#F0F4F7;
		.menu-footer{
			border-right: 3px solid white;
			height: 100%;
			.list-menu{
				lineheight: @height;
				ul{
					padding:0px;
					margin: auto;
					li{
						list-style: none;
						display:inline-block;
						margin-right: 28px;
						float:left;
						line-height: @height;

					}
				}
			}
		}
		.newsletter{
			height: 100%;
			.newsletter-input{
			 line-height: @height;
			 margin-left: 15px;
			 	span{
			 		float:left;
			 	}
			 	input{
			 		border:1px solid #85A2BB;
			 		float:left;
			 		margin-left: 12%;
			 		padding-left: 15px;
			 		width: 50%;
			 		height: 30px;
			 		background: rgba(0, 0, 0, 0);
			 		margin-top: 8px;
			 	}
			 	.fa-paper-plane-o{
			 	background: #7D9CB6;
			 	font-size: 12px;
			 	color: white;
			 	width: 30px;
			    height: 30px;
			    line-height: 30px;
			    text-align: center;

			 	}
			 	input::-webkit-input-placeholder {
			 	margin-left: 100px;
				color: #ADC1D1 ;
				}
				input:-moz-placeholder {
				color: #ADC1D1 ;  
				}
				input::-moz-placeholder { 
				color: #ADC1D1 ;  
				}
				input:-ms-input-placeholder {  
				color: #ADC1D1 ;  
				}
			}
		}
		.footer-social{
			height: 100%;
			
			.social-block{
				height: 100%;
				.social{
					width: 25%;
					height: 100%;
					background: #7D9CB6;
					color: white;
					font-size: 18px;
					float: left;
					text-align: center;
					border: 1px solid;
						.fa{
						line-height: 50px;
						}
				}
			}
		}
	}

	.copyright{
		
		text-align: center;
		line-height: @height-copy-right;
		.copyright-text{
			margin: 10px;
			}
		}
	
}