// style chung
.btn-st-blue{
  font-family: roboto;
  color:#fff;
  background-color: #2F5C82;
  display: inline-block;
  padding: 12px 37px;;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a.btn-st-blue:hover{
  color: #fff;text-decoration: none;
  box-shadow: -1px 3px 5px #888888;
 }
 //style cho block
.header-top-navbar{
    color:#444444;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
  .top-bar{
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    .left-side {
      display: inline-block;
      padding: 33px 30px;
      font-size: 20px;
      color: #33648D;
    }
    .logo{
       display: inline-block;
       font-size: 43px;
       text-align: center;
    }
    .right-side{
        text-align: right;
        display: inline-block;
        .uc_clean_accordion {
            display: inline-block;
            width: 150px;
            box-sizing: border-box;
            font-size: 13px;
        .uc_clean_accordion_wrap{ 
            .uc_clean_accorder_content{

                .uc_head_line{
                display: block;
                background-color: #fff;
                border: 1px solid #eee;
                margin: 15px 0 1px 0;
                padding-top: 0;
                position: relative;
                text-transform: none;
                letter-spacing: inherit;
                .ui-state-active {
                    border-bottom: 0px;
                }
                .ui-accordion-header-icon.ui-icon{
                    position: absolute;
                    right: 5px;
                    top:12px;
                    width: 16px;
                    height: 16px;
                    display: block;
                }
                .ui-accordion-header-icon.ui-icon {
                    position: absolute;
                    right: 5px;
                    top: 12px;
                    width: 16px;
                    height: 16px;
                    display: block;
                    &:after{
                        font-family: FontAwesome;
                        font-size: 13px;
                        content: "\f077";
                        display: block;
                        width: 13px;
                        height: 13px;
                        margin-bottom: -7px;
                        transition: all .2s;
                    }
                }

                .uc_link_tittle {
                  box-sizing: border-box;
                  display: block;
                  min-width: 100%;
                  font-size: 13px;
                  color: inherit;
                  padding: 10px 20px 13px 10px;
                  line-height: 1.44;
                  transition: none;
                  text-decoration: none;
                  font-weight: normal;
                  text-align: left;
                }
            }
            .ui-accordion-header-active.ui-state-active >.ui-icon:after{
                content: "\f078"; 
            }
            .uc_line_content {
                position: absolute;
                z-index: 99;
                padding: 10px 20px 25px;
                background-color: #fff;
                border: 1px solid #eee;
                border-top: none;
                margin-top: -1px;
                width: 150px;
                min-height: 130px;
                .uc_des{
                    text-align: left;
                    display: block;
                    clear:both;
                    margin:0 0 9px;
                    box-sizing: border-box;
                     li{
                        padding: 3px 0;
                        display: block;
                        a{
                            padding: 5px 0;
                        }
                    }
                }
               
            }
        } 
    }
        
    }
      .user-info{
        width: 152px;
        display: inline-block;
        .user-name{
          line-height: 1.428571;
          position: relative;
          font-size: 13px;
          text-transform: uppercase;
          margin: 0;
          padding: 11px 5px;
          border: 1px solid #eee;
          .ui-state-default{
            border: 1px solid #c5c5c5;
            background: #f6f6f6;
            font-weight: normal;
            color: #454545;
          }
        }
      }
    }
  }
}


.bar-header{
  border-bottom: 1px solid #eee;
}
#top-header{
  font-family: roboto;
  font-size: 13px;
  font-weight: 400;
  color: #444444; 
}

 


button.accordion {
  font-family: roboto;
  font-size: 13px;
  margin-left: 14px;
    display: inline-block;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 12px 14px;
    width: 152px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
div.panel {
  position: absolute;
  z-index: 99;
    padding: 0 18px;
    background-color: yellow;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
  width: 152px;
    display: block !important;
}
i.fa.fa-angle-up {
    margin-left: 14px;
}
.row.nav-top {
    border-bottom: 1px solid #eee;
}
ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}


@media (min-width:1280px){
  .left-side{
    width: 15%;
  }
  .logo{
      width: 60%;
    }
  .right-side{
    width: 24%;  
  }
}